{% extends 'base.html.twig' %}
{% block title %}
{{parent()}}{{title}}
{% endblock %}
{% block stylesheets %}
{{parent()}}
<style>
   .back-img{
       background: url(https://cdn.wallpapersafari.com/22/82/0yjurN.jpg);
   }
    body {
        background-color: #2F4F4F;
    }
    section{
        padding: 150px;
        
    }

</style>
{% endblock %}
{% block body %}
<body class="back-img">
    <section>
        <div class="container-fluid text-black pad-top">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4 bg-light">
                        <h1 class="text-center">Add Notice</h1>
                        <table class="table">

                            <tr>
                                <td> {{ form_row(form.name) }}</td>
                            </tr>
                          
                            <tr>
                                <td> {{ form_row(form.noticeFrom) }}</td>
                            </tr>

                            <tr>
                                <td> {{ form_row(form.noticeTo) }}</td>
                            </tr>

                            <tr>
                                <td> {{ form_row(form.file) }}</td>
                            </tr>
                            
                            <tr>
                                <td><input type="submit" name="sub" value="upload" id="submit"></td>
                            
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
 
    {{ form_rest(form) }}
	{{ form_end(form) }}
</section>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
{% endblock %} 




















