{% extends 'back_end_base.html.twig' %}

{% block title %}{{parent()}}{{title}}{% endblock %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="//cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Message</th>
			
		</tr>
	</thead>
	<tbody>
		{% for record in contacts %}
		<tr>
			<td>{{record.id}}</td>
			<td>{{record.name}}</td>
			<td>{{record.email}}</td>
			<td>{{record.message}}</td>			
			
		</tr>


		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function () {
		$('.table').DataTable();
	});
</script>
{% endblock %}