{% extends 'back_end_base.html.twig' %}

{% block title %}
	{{parent()}}{{title}}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-6">
			<div class="shadow p-4 bg-white">
				<form action=" " method="post">

					<div class="row">
						<div class="col-10">
							<label class="form-label">Book Title</label>
							<input type="text" name="title" class="form-control" required="required" value="{{Title}}"/>

						</div>
					</div>

					<div class="row my-3">
						<div class="col-10">
							<label class="form-label">Author Name</label>
							<input type="text" class="form-control" required="required" name="author" value="{{Author}}"/>

						</div>
					</div>

					<div class="row my-3">
						<div class="col-10">
							<label class="form-label">Publisher</label>
							<input type="text" class="form-control" required="required" name="publisher" value="{{Publisher}}"/>

						</div>
					</div>

					<div class="row my-3">
						<div class="col-10">
							<label class="form-label">Edition</label>
							<input type="text" class="form-control" required="required" name="edition" value="{{Edition}}"/>

						</div>
					</div>

					<div class="row my-3">
						<div class="col-10">
							<label class="form-label">No Of Books Available</label>
							<input type="text" class="form-control" required="required" name="no_of_book" value="{{No_of_book}}"/>

						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-block mb-">Add</button>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>
{% endblock %}
