<div class=".bimg">
    <div class="full-page">
        <div class="navbar"></div>
        <div id="login-form" class="login-page">
            <div class="form-box">
                <h1 style="text-align:center">Update Here</h1>
               {{ form_start(form, { 'attr' : { 'id': 'edit-form' } })}}
                 <input type="hidden" name="id" value="{{id}}">
                <br>

                <div class="row">
                    <div class="col-6 input-field">
                        {{ form_row(form.firstName) }}

                    </div>
                    <div class="col-6 input-field">
                        {{ form_row(form.lastName) }}

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6 input-field">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-6 input-field">
                        {{ form_row(form.cellphone) }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6 input-field">
                        {{ form_row(form.academicYear) }}
                    </div>
                    <div class="col-6 input-field">
                        {{ form_row(form.dob) }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6 input-field">
                        {{ form_row(form.registrationNumber) }}
                    </div>
                    <div class="col-6 input-field">
                        {{ form_row(form.rollNumber) }}
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-6 input-field">
                        <label>Department:</label>
                        <Select name="Dept" id="sem" class="input-field form-control" >
                            <option value="{{dept}}">{{dept}}</option>
                            <option value="CST">CST</option>
                            <option value="ETCE">ETC</option>
                            <option value="ARCH">ARCH</option>
                        </Select>
                    </div>
                    <div class="col-6 ">
                        {{ form_row(form.address) }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">password:</label>
                        <input type="password" name="password" class="input-field form-control"
                            placeholder="Enter password" >
                    </div>
                    <div class="col-6">
                        <label for="">confirm password:</label>
                        <input type="password" name="conpassword" class="input-field form-control"
                            placeholder="Confirm password" >
                    </div>
                </div>
                <br>

                <input type="checkbox" class="check-box"><span>I agree to the terms &
                    Conditions</span>
                <br>


                <div class="row mb-3 submit-btn">
                    <div class="col-4">
                        <input type="submit" value="Update" class="btn btn-success">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>