{% extends 'back_end_base.html.twig' %}

{% block title %}{{parent()}}{{title}}{% endblock %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="//cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">
        <div class="my-3 mx-2">
            <a href="#" class="btn btn-info text-white" data-toggle="modal" data-target="#addModal">+ Add User</a>
        </div>
        <table id="list-user" class="table">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>DOB</th>
                    <th>Cellphone</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in users %}
                <tr>
                    <td>{{record.id}}</td>
                    <td>{{record.firstName}}
                        {{record.lastName}}</td>
                    <td>{{record.email}}</td>
                    <td>{{record.department}}</td>
                    <td>{{record.dob|date('d-m-Y')}}</td>
                    <td>{{record.cellphone}}</td>
                    <td>{{record.created|date('d-m-Y @ h:i')}}</td>
                    <td>{{record.updated|date('d-m-Y @ h:i')}}</td>

                    <td>
                        <a onclick="return confirm('Are you sure?')" href="{{path('app_update_user',{id: record.id})}}"
                            class="btn btn-info text-white ">
                            {{record.status}}</a>
                    </td>

                    <td>
                        <a href="javascript:void(0)" class="btn btn-info text-white js-fetch-user"
                            userid="{{record.id}}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#list-user').DataTable();
    });
</script>
{% endblock %}