{% extends 'back_end_base.html.twig' %}

{% block title %}{{parent()}}{{title}}{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="/plugins/datetimepicker-master/jquery.datetimepicker.min.css">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-9">
        <div class="shadow py-3 px-4 bg-white">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    {{ form_row(form.cellphone) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.academicYear) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.dob) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">

                    <label for="department">Department</label>
                    <select name="dept" class="form-control">
                        <option value="">{{value}}</option>
                        {% for data in dept %}
                        <option value="{{data.name}}">{{data.name}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-4">
                    {{ form_row(form.registrationNumber) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.rollNumber) }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4">
                    {{ form_row(form.roles) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.enable) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-8">
                    {{ form_row(form.address) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">{{title}}</button>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-3">
        {% if user.id %}
        <div class="shadow py-3 px-4 bg-white">
            <form action="{{path('web_reset_password', {id: user.id})}}" method="post">
                <div class="form-group">
                    <label for="password">Change Password</label>
                    <input type="text" class="form-control" name="password" id="password" required>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" value="Change" class="btn btn-danger">Change</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="/plugins/datetimepicker-master/jquery.datetimepicker.full.js"></script>
<script>
    $(function () {
        $('.js-datepicker').datetimepicker({
            format: 'd-m-Y',
            timepicker: false,
        });
    });
</script>
{% endblock %}