{% extends 'back_end_base.html.twig' %}

{% block title %}{{parent()}}-{{title}}{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-9">
        <div class="shadow py-3 px-4 bg-white">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    {{ form_row(form.cellphone) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.academicYear) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.dob) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    {{ form_row(form.registrationNumber) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.rollNumber) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    {{ form_row(form.address) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-3">
        <div class="shadow py-3 px-4 bg-white">
            <form action="" method="post">
                <div class="form-group">
                    <label for="password">Change Password</label>
                    <input type="text" class="form-control" name="password" id="password" required>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" value="Change" class="btn btn-danger">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js" integrity="sha512-PDFb+YK2iaqtG4XelS5upP1/tFSmLUVJ/BVL8ToREQjsuXC5tyqEfAQV7Ca7s8b7RLHptOmTJak9jxlA2H9xQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{parent()}}
{% endblock %}